[*.cs]

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# CS0472: The result of the expression is always the same since a value of this type is never equal to 'null'
dotnet_diagnostic.CS0472.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none
